<!DOCTYPE html>
<html lang="en">
<head>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
 crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../dashboard.css">
    <title>dashboard</title>
</head>
<body onload="loading()">
    <div id="loader"></div>
    <br>
    <h1 id="fetch"></h1>
    <div style="display:none;" id="content" class="animate-bottom">
      
        
        <div class="icon-scroll" id="small-menu" >
        <div class="icon-bar" id="myIcons">


           <a class="active" href="#">    <i class="bi bi-house-door" style="color: #fff;"></i></a> 
          <a href="/create"> <i class="bi bi-plus" style="color: #fff;"></i><span>Add</span></a>  
            <a href="/completed"><i class="bi bi-check2-all"style="color: #fff;"></i><span>Add</span></a>
            <a href="/logout"><i class="bi bi-box-arrow-left" style="color: #fff;"></i><span>Add</span></a>
        </div>
        </div>
        <div class="main" id="myMain">
        <h1 class="welcome">Welcome  {{staff}}</h1>

        <div class="card-container">
            <div class="card">
            <h1 class="tit">GOAL</h1>
            <h2><strong>Goal:</strong> {{goal}}</h2>
            <h2><strong>Category:</strong>{{started}} </h2>
            <h2><strong>Date Started:</strong> {{description}}</h2>

            <div class="card-icons">
            <div class="edit">
                <a href="">
                    <i class="bi bi-pencil"></i>
                </a>
            </div>
            <div class="complete">
                <a href="">
                    <i class="bi bi-check2-all"></i>
                </a>
            </div>
            <div class="delete">
                <a href="">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
            </div>

            </div>
        </div>
        
        
        </div>
        </div>
    </div>

    
    <script>
    
        var myVar;

        function loading() {
            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("fetch").style.display = "none";
            document.getElementById("content").style.display = "block";
        }
    </script>




    
</body>
</html>