<!DOCTYPE html>
<html lang="en">
<head>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
 crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../edit.css">
    <title>dashboard</title>
</head>
<body>
    <div>
      
        
        <div class="icon-scroll" id="small-menu" >
        <div class="icon-bar" id="myIcons">


           <a class="home" href="#">    <i class="bi bi-house-door" style="color: #fff;"></i></a> 
          <a href="goals/create"> <i class="bi bi-plus" style="color: #fff;"></i><span>Add</span></a>  
            <a href="/completed"><i class="bi bi-check2-all"style="color: #fff;"></i><span>Add</span></a>
            <a href="/logout"><i class="bi bi-box-arrow-left" style="color: #fff;"></i><span>Add</span></a>
        </div>
        </div>

        <div class="main" id="myMain">
        <div class="pic"> 
       
        </div>
        <div class="details">
            <h1>Edit Goal</h1>
            <form method="post" role="form">
                <div class="form-group">
                    <input type="text" id="goal" name="goal" value="{{goal.goal}}" required>
                </div>
               
                <div class="form-group">
                    <select name="category" id="category" value="{{goal.category}}" >
                    <option value="Fitness">Fitness</option>
                    <option value="Nutrition">Nutrition</option>
                    <option value="Mental">Mental</option>
                    <option value="Health">Health</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="date" id="started" name="started" value="{{goal.started}}" required>
                </div>

                 <div>
              </div>
                <div class="form-group">
                    <input type="submit" value="update">
                    <a class="btn btn-danger btn-lg" role="button" href="/dashboard">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    </div>
        
        
        </div>
        </div>
    </div>






    
</body>
</html>