<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <div class="col-md-6 main">
        <form action="/staff/login" method="POST">
            <h2>{{title}}</h2>
            <input type="text" class="box" id="email" name="email" placeholder="Email" required />
            <br>
            <input type="text" class="box" id="password" name="password" placeholder="Password" required /> 
            <br>
            <input  type="submit" value="login" id="login" />
        </form>
    </div>
    
</body>
</html>